element.style
{
    background-position: right 20px;
    background-position-x: right;
    background-position-y: 20px;
}

body
{
    font-size: 12px;
}


div
{
    display: block;
}

div.container
{
    background-color: #FFFFFF;
}

div.header
{
    top:0;
    left:0;
    position: absolute;
    height: 62px;
    width:100%;
    overflow: hidden;
    background-color: #EFF4F9;
    zoom: 1;
    border-bottom: 1px solid #d6dfea;
}

div.header_link
{
    padding-right:40px;
    float: right;
    margin-top: 16px;
    line-height: 30px;
}

img.logo
{
    background-size: 182px 35px;
    margin-top: 14px;
    margin-left: 40px;
    float: left;
    height: 35px;
    width: 182px;
}

a
{
    color: #1d5494;
    text-decoration: none;
}

div.all_container
{
    margin-top: 63px;
    min-height: 372px;
    padding-top: 40px;
    position: relative;
    height: 600px;
    width: 100%;

}

img.mj_picture
{
    position: absolute;
    margin-top: -200px;
    margin-left: -450px;
    left: 50%;
    right: 0;
    top: 50%;
}

div.login
{
    border: 1px solid #a0b1c4;
    height: 387px;
    width:334px;
    position: absolute;
    margin-left: 100px;
    margin-top: -250px;
    left: 50%;
    right: 0;
    top: 50%;
}

div.footer
{
    width:100%;
    position: absolute;
    left:0;
    height: 37px;
    overflow: hidden;
    background-color: #EFF4F9;
    zoom: 1;
    border-bottom: 1px solid #d6dfea;
    bottom: 0;
}

div.text_foot
{
    width:100%;
    position: absolute;
    margin:auto 30% auto 32%;
    top:35%;
}

iframe.frame
{
    height: 100%;
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;


}